def AAA():
    a = input('请输入需要比较的头一个文件名：')
    b = input('请输入需要比较的另一个文件名：')
    A = open('C:\\Users\\chenpu\\Desktop\\'+a+'.txt')
    B = open('C:\\Users\\chenpu\\Desktop\\'+b+'.txt')
    A_list = list(A)
    B_list = list(B)
    lenA = len(A_list)
    lenB = len(B_list)
    if lenA>lenB:
        lenC = lenA
    else:
        lenC = lenB
    Dif = 0
    ADif = 0
    for each in range(lenC):
        Dif += 1
        if A_list[each] != B_list[each]:
            print('第',Dif,'行不一样')
            ADif += 1
        else:
            continue
    print('两个文件共有【',ADif,'】处不同')
    A.close()
    B.close()
AAA()
